* { box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 5px;
}

main {
    display: flex;
}

header {
    height: 2em;
    font-size: larger;
}

nav {
    flex: 0 0 300px;
}

section {
    flex: 1 1 100%;
}

section > ul {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: flex-start;
}

section > ul li {
    list-style: none;
    text-align: center;
    flex: 0 0 120px;
    height: 110px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li > ul {
    display: none;
    padding-left: 2em;
}

nav li.open > ul {
    display: block;
}

nav li.current {
    font-weight: bold;
}
