<!DOCTYPE html>{% load static %}
<html>
    <head>
        <title> FileM File Manager</title>
        <link rel="stylesheet" type="text/css" href="{% static 'filem/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'filem/css/lightbox.css' %}">
        <script src="{% static 'filem/js/vendor/zepto.min.js' %}"></script>
        <script src="{% static 'filem/js/utils.js' %}"></script>
        <script src="{% static 'filem/js/lightbox.js' %}"></script>
        <script src="{% static 'filem/js/menu.js' %}"></script>
        <script src="{% static 'filem/js/dirlist.js' %}"></script>
        <script src="{% static 'filem/js/filelist.js' %}"></script>
        <script src="{% static 'filem/js/base.js' %}"></script>
    </head>
    <body>
        <header id="title">Current Path: <span></span></header>
        <main>
            <section id="col1">
                <nav id="tree"></nav>
            </section>
            <section id="col2">
                <div id="files"></div>
            </section>
        </main>
        <footer>
          <div id="dropzone">
              <form>
                  <label for="db_target">Upload</label>
                  <input  id="db_target" type="file" multiple>
              </form>
          </div>
        </footer>
        <aside>
            <nav id="dir-menu" class="menu">
                <ul>
                    <!-- li data-action="info">Info</li -->
                    <li data-action="rename">Rename</li>
                    <li data-action="create">Add Sub-directory</li>
                    <li data-action="delete">Delete</li>
                    <li data-action="download">Download</li>
                </ul>
            </nav>
            <nav id="file-menu" class="menu">
                <ul>
                    <li data-action="info">Info</li>
                    <li data-action="rename">Rename</li>
                    <li data-action="download">Download</li>
                    <li data-action="link">Get URL</li>
                    <li data-action="delete">Delete</li>
                </ul>
            </nav>
            <div class="lightbox">
                <div id="lightbox"></div>
            </div>
        </aside>
    </body>
</html>
