<!DOCTYPE html>{% load static %}
<html>
    <head>
        <title> FileM File Manager</title>
        <link rel="stylesheet" type="text/css" href="{% static 'filem/css/base.css' %}">
        <script src="{% static 'filem/js/base.js' %}"></script>
    </head>
    <body>
        <nav><!-- directory tree -->
        </nav>
        <main><!-- file list -->
            <ul>
                <li>
                    <img src="{% static 'img/file-default.png' %}">
                    <p>Filename.png</p>
                </li>
            </ul>
        </main>
    </body>
</html>
