<!DOCTYPE html>{% load static %}
<html>
    <head>
        <title> FileM File Manager</title>
        <link rel="stylesheet" type="text/css" href="{% static 'filem/css/base.css' %}">
        <script src="{% static 'filem/js/zepto.min.js' %}"></script>
        <script src="{% static 'filem/js/base.js' %}"></script>
    </head>
    <body>
        <header>
        </header>
        <main>
            <nav><!-- directory tree -->
            </nav>
            <section><!-- file list -->
            </section>
        </main>
    </body>
</html>
